// font
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

// tools
@import "assets/_variables.scss";

// pages
@import "assets/_index.scss";
@import "assets/_blog.scss";

//components
@import "assets/_navbar.scss";
@import "assets/_footer.scss";

body {
  font-family: $font;
  word-wrap: break-word;
  max-width: 75em;
  font-size: 16px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.8rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $dimmed;
  color: $primary;
}

article {
  flex: 1;
}
