.title {
  a {
    color: $secondary;
    text-decoration: none;
  }
}

.post {
  display: block;
  text-decoration: none;
  list-style: none;
}

.post-header {
  display: flex;
  align-items: center;
  text-decoration: none;

  .meta {
    .date {
      margin-right: 2rem;
      width: 64px;
      text-align: center;

      .day {
        font-weight: 700;
        font-size: 3em;
      }
    }
  }
}
