.foot {
  text-align: right;
  font-size: 0.75em;
  border-top: 2px solid $green;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
  }

  a {
    text-decoration: none;
    color: $primary;
  }

  a:hover,
  a:focus {
    color: $green;
  }
}
