.main {
  .img-container {
    display: flex;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    > h1 {
      flex: 0 0 100%;
    }

    .me {
      margin: 5px;
      border-radius: 10%;
    }
  }

  hr {
    border: 1px solid $green;
    margin: 2rem auto;
  }

  .blurb {
    width: 75%;
    margin: 0 auto;
    &:last-child {
      margin-bottom: 2rem;
    }
  }
}
