.navbar {
  background-color: $background;
  display: flex;
  align-items: center;

  a {
    color: $primary;
    text-decoration: none;
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand {
    display: block;
    color: $primary;
    padding: 0 24px;
    font-size: 24px;
  }

  ul li a {
    color: $primary;
    padding: 24px;
    display: block;
  }

  ul a:hover,
  ul a:focus {
    text-decoration: underline;
    color: $green;
  }
}
