{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<ul>
  {% for post in paginator.pages %}
  <li class="post">
    <div class="post-header">
      <div class="meta">
        <div class="date">
          <span class="day">{{ post.day }}</span>
          <span class="month-year">{{ post.date | date(format='%B') }}</span>
        </div>
      </div>
      <div class="matter">
        <h4 class="title">
          <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
        </h4>
        <span class="description">
          {{ post.description }}
        </span>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
<nav>
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous }}">< Previous</a>
  {% endif %}
  {% if paginator.next %}
  <a class="next" href="{{ paginator.next }}">Next ></a>
  {% endif %}
</nav>
{% endblock content %}
