<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ config.title }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{ get_url(path="normalize.css") }}">
        <link rel="stylesheet" href="{{ get_url(path="base.css") }}">
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <nav class="navbar">
            <ul>
                <li>
                    <a class="active" href="/">About</a>
                </li>
                <li class="brand">TJLIII</li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
            </ul>
        </nav>
        <article>
        {% block content %} {% endblock %}
        </article>
        <footer class="foot">
            <div class="social">
                <ul>
                    <a href="https://github.com/sofubi" title="Github">
                        <i data-feather="github"></i>
                    </a>
                    <a href="https://gitlab.com/ttanuki" title="Gitlab">
                        <i data-feather="gitlab"></i>
                    </a>
                    <a href="https://twitter.com/@tanukianchor" title="Twitter">
                        <i data-feather="twitter"></i>
                    </a>
                    <a href="/rss.xml" title="Feed">
                        <i data-feather="rss"></i>
                    </a>
                </ul>
            </div>
            <p class="copy">
            &copy Thomas Lawton, 2021
                <br />
                Created with <a href="https://getzola.org">Zola</a>
            </p>
        </footer>
        <script>
feather.replace()
        </script>
    </body>

</html>
