{% extends "base.html" %}

{% block content %}
<section class="section main">
    <div class="img-container">
        <img class="me" src="me.jpg" width="auto" height="400px" alt="A picture of me"/>
        <h1>This cat will not shut up!</h1>
    </div>
    <hr />
    <div class="blurb">
        <h1>Me and the Family:</h1>
        You'll usually find me doing some stuff and some things.
        I like to spend time with my wife and my cats.
        We take walks. Yes, we walk the cat on the leash.
        The other cat doesn't like to take walks.
        They're both loud.
    </div>
    <hr />
    <div class="blurb">
        <h1>What I'm Up To:</h1>
        Just usually doing different things.
        Looking for a dog with the wife and trying to fit that in.
        Trying to work on different projects and learn different things every day.
    </div>
</section>
{% endblock content %}
